<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanward.ehheater"
    android:versionCode="1"
    android:versionName="b008" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/custom_dialog2" >
        </activity>
        <activity
            android:name=".activity.configure.ConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/custom_dialog2" >
        </activity>
        <activity
            android:name=".activity.feedback.FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.info.SelectDeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.user.FindPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.gas.GasMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.furnace.FurnaceMainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.furnace.FurnacePatternActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.furnace.FurnaceSendMsgModel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.furnace.FurnaceSeasonActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.furnace.FurnaceIntelligentControlActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.furnace.FurnaceAppointmentListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.furnace.FurnaceAppointmentTimeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.gas.AddPattenActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.AddPattenActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.gas.PatternActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.main.PatternActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.info.InfoErrorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.info.InfoTipActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.appointment.AppointmentListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.appointment.AppointmentTimeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.appointment.AppointmentDaysActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.appointment.AppointmentNumberActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.info.InformationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.configure.ConfigureDeviceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.configure.ShitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" >
        </activity>
        <activity
            android:name=".activity.configure.DummySendBindingReqActivity"
            android:screenOrientation="portrait"
            android:theme="@style/custom_dialog2" >
        </activity>
        <activity
            android:name=".activity.configure.AutoConfigureFailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.configure.ManualConfStep1Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.configure.ManualConfStep2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.configure.ManualConfigFailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.HeaterManagementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.HeaterManagementActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.RemindSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.AccountManagementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.ChangePasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.more.ChangePasswordActivity2"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="541b9732fd98c55f32058e39" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
    </application>

</manifest>